@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap');

/* === Variables === */
:root {
  --primaryColor: #847996;
  --mainBlack: #232e21;
  --mainWhite: #f4ecd6;
  --darkPurple: #310a31;
  --White: #fff;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.2rem;
}

/* === Global Styles === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Fira Code', monospace;
  color: var(--mainBlack);
  background: var(--mainWhite);
  line-height: 1.5;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}

h1,
h2,
h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1.25rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  margin-bottom: 0;
}
p {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 2;
}
li {
  list-style: none;
}
/* button */
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  color: var(--mainBlack);
  margin: 3rem;
  border: 0.15rem solid var(--mainBlack);
  transition: var(--mainTransition);
}
.btn:hover {
  background: var(--mainBlack);
  color: var(--mainWhite);
}

/* === Main Navbar === */
.main-nav {
  background: var(--darkPurple);
  padding: 0 2rem;
}
.main-nav a {
  text-transform: capitalize;
  display: block;
  padding: 1rem 0;
  color: var(--mainWhite);
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}
.main-nav a:hover {
  color: var(--White);
  background: var(--mainBlack);
  transition: var(--mainTransition);
}

@media screen and (max-width: 992px) {
  .main-nav a:hover {
    padding-left: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .main-nav ul {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .main-nav a {
    text-align: center;
  }
}

/* === Hero === */
.hero-header {
  min-height: 100vh;
  background: linear-gradient(rgba(18, 65, 14, 0.75), rgba(0, 0, 0, 0.75)),
    url('./images/hero.jpeg') center/cover fixed no-repeat;
  color: var(--mainWhite);
  display: grid;
  justify-content: center;
  align-items: center;
}
.hero-banner {
  text-align: center;
}
.hero-banner p {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1rem;
}
@media screen and (max-width: 576px) {
  .hero-banner {
    padding: 0 1rem;
  }
}

/* === Cards === */
.cards {
  padding: 4rem 0;
}
.title {
  text-align: center;
}
.cards-center {
  width: 80vw;
  max-width: 1170px;
  margin: 2rem auto;
}
.card {
  border: 1px solid var(--mainBlack);
  margin-bottom: 3rem;
}
.card-info {
  padding: 1rem;
}
.card-footer {
  background: var(--mainBlack);
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.card-footer span {
  color: var(--mainWhite);
  cursor: pointer;
}
.card-footer span:hover {
  color: var(--White);
}
