@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap');

/* === Variables === */
:root {
  --primaryColor: #847996;
  --mainBlack: #232e21;
  --mainWhite: #f4ecd6;
  --darkPurple: #310a31;
  --White: #fff;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.2rem;
}

/* === Global Styles === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Fira Code', monospace;
  color: var(--mainWhite);
  background: var(--mainWhite);
  line-height: 1.5;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}

h1,
h2,
h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1.25rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  margin-bottom: 0;
}
p {
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 2;
}
li {
  list-style: none;
}
/* button */
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  border: 3px solid --var(--darkPurple);
  color: var(--darkPurple);
  margin: 3rem;
  transition: var(--mainTransition);
}
.btn:hover {
  background: var(--darkPurple);
  color: var(--mainWhite);
}

/* === Main Navbar === */
.main-nav {
  background: var(--darkPurple);
  padding: 0 2rem;
}
.main-nav li:hover {
  background: var(--mainBlack);
}
.main-nav a {
  text-transform: capitalize;
  display: block;
  padding: 1rem 0;
  color: var(--mainWhite);
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}
.main-nav a:hover {
  color: var(--White);
}

@media screen and (max-width: 992px) {
  .main-nav a:hover {
    padding-left: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .main-nav ul {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .main-nav a {
    text-align: center;
  }
}
